body {
  background: url(../images/logbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(201, 199, 199);
}
h1 {
  font-size: 70px;
  text-align: center;
}
#title {
  width: 600px;
  height: 80.8px;
  margin-top: 220px;
  margin-bottom: 30px;
  margin-left: 470px;
}
#cont {
  background: rgba(0,0,0,0.3);
  height: 150px;
}
table {
  padding-top: 28px;
}
